{% extends "layout.html" %}


{% block title %}
    {{ employee.full_name }} Details
{% endblock title %}
    

{% block body %}
<div class="container">
    <div class="employee-details-container d-flex flex-column align-items-center justify-content-start">
        <h1>{{ employee.full_name }} Details</h1>
        <p>Hire date: {{ employee.hire_date }}</p>
        <p>Position: {{ employee.position }}</p>
        <p>Email: {{ employee.email }}</p>
        <p>Head: 
            {% if employee.head is None %}
                God
            {% else %}
                <a href="{% url 'employee-detail' employee.head.id %}">{{ employee.head.full_name }}</a>
            {% endif %}
        </p>
        <div class='d-flex justify-content-start'>
            <a href="{% url 'employee-edit' employee.id %}" class="btn btn-sm btn-outline-info me-3">Edit</a>
            <a href="{% url 'employee-delete' employee.id %}" class="btn btn-sm btn-outline-info ">Delete</a>
        </div>
    </div>
</div>
{% endblock body %}
    